article {
font-size: 20pt;
text-align: left;
color: rgb(85, 50, 154);
}
p {
animation-duration: 8s;
animation-name: slidein;
animation-iteration-count: infinite;
}
@keyframes slidein {
from {
margin-left: 50%;
width: 500%;
}
to {
margin-left: 0%;
width: 100%;
}
}
